@use './variables' as *;

nav {
    transition: all $tween-time ease-in;
    list-style-type: none;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 48px;
    background-color: transparentize($color: $foreground, $amount: 0.9);
    position: fixed;
    height: 100%;
    overflow: auto;
    display: inline;
}
  
li {
    a {
        display: block;
        color: $foreground;
        padding: 8px 16px;
        text-decoration: none;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 130%;
        }
    
        &:hover {
            transition: all $tween-time ease-in;
            color: $pink;
        }
    }
}