$foreground: #ffffff;
$background: #220a38;
$red: rgb(255, 62, 62);
$orange: rgb(255, 160, 62);
$yellow: rgb(255, 220, 62);
$green: rgb(40, 160, 40);
$blue: rgb(62, 62, 255);
$pink: rgb(212, 40, 255);
$purple: rgb(160, 40, 160);

$tween-time: 150ms;
